E-COMMERCE ANALYTICS

1. Create the Tables
Write SQL statements to create the following tables:

Table: Customers

CustomerID (Primary Key, INT)
Name (VARCHAR)
Country (VARCHAR)
Table: Orders

OrderID (Primary Key, INT)
CustomerID (Foreign Key, INT)
OrderDate (DATE)
Amount (DECIMAL)
Table: Products

ProductID (Primary Key, INT)
ProductName (VARCHAR)
Category (VARCHAR)
Price (DECIMAL)
Table: OrderDetails

OrderDetailID (Primary Key, INT)
OrderID (Foreign Key, INT)
ProductID (Foreign Key, INT)
Quantity (INT)

3. Questions to Solve
Use SQL queries to answer these questions:

Find all orders placed by customers from the USA.
Use the WHERE clause to filter.

List all products in the "Electronics" category sorted by price in descending order.
Use ORDER BY.

Get the total number of orders and total revenue for each customer.
Use GROUP BY with aggregate functions (COUNT, SUM).

Find the most expensive product purchased in each order.
Use GROUP BY and MAX.

Show the total revenue generated per product.
Join tables and use SUM.

In [1]:
# importing necessary libraries
import sqlite3
import pandas as pd 
import numpy as np

In [7]:
# Creating a new database and tables
conn = sqlite3.connect("C:/Users/ADMIN/OneDrive/Desktop/Sql Datascience/mydb.sqlite")
# create a cursor
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers(
CustomerID INT PRIMARY KEY,
Name VARCHAR,
Country VARCHAR,
);""")

OperationalError: near ")": syntax error

In [ ]:
# creatong orders table
cursor.execute("""CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    Amount REAL(10, 2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);""")

In [ ]:
# creating products table
cursor.execute("""CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(90),
    Category VARCHAR(30),
    Price DECIMAL(10, 2)
);""")

In [ ]:
# creating orderdetails table
cursor.execute("""CREATE TABLE OrderDetails (
    OrderDetailID INT PRIMARY KEY,
    OrderID INT,
    ProductID INT,
    Quantity INT,
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
);""")

In [ ]:
# inserting values to customers table
cursor.execute("""INSERT INTO Customers (CustomerID, Name, Country)
VALUES
(1, 'Alice', 'USA'),
(2, 'Bob', 'Canada'),
(3, 'Charlie', 'UK');
""")

In [ ]:
# inserting values to orders table
cursor.execute("""INSERT INTO Orders (OrderID, CustomerID, OrderDate, Amount)
VALUES
(101, 1, '2024-12-01', 250.00),
(102, 2, '2024-12-05', 450.00),
(103, 3, '2024-12-10', 150.00);
""")

In [ ]:
# inserting values into products table
cursor.execute("""INSERT INTO Products (ProductID, ProductName, Category, Price)
VALUES
(1, 'Laptop', 'Electronics', 800.00),
(2, 'Mouse', 'Electronics', 20.00),
(3, 'Book', 'Books', 15.00);
""")

In [ ]:
# inserting values into orderdetails table
cursor.execute("""INSERT INTO OrderDetails (OrderDetailID, OrderID, ProductID, Quantity)
VALUES
(1, 101, 1, 1),
(2, 101, 2, 2),
(3, 102, 3, 10);
""")

In [ ]:
# Find all orders placed by customers from the USA.
# Use the WHERE clause to filter.

In [ ]:
# List all products in the "Electronics" category sorted by price in descending order

In [ ]:
# Get the total number of orders and total revenue for each customer

In [ ]:
# Find the most expensive product purchased in each order

In [ ]:
# Show the total revenue generated per product